* {
  box-sizing: border-box;
}

.coin {
  display: grid;
  grid-template-columns: 50px 150px 80px 100px 80px 140px 100px;
  /* grid-template-columns: 40px 2.25fr 1.25fr 1.75fr 1.25fr 2.5fr 100px; */
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: transparent;
}

.coin-image {
  padding: 5px;
  width: 100%;
  margin-right: 10px;
}

.coin-name {
  font-size: 1rem;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-info-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #00bbff;
  transition: 0.3s ease;
  cursor: pointer;
}

.coin-info-btn:hover {
  /* background-color: #09d; */
  transform: scaleX(1.05);
}

@media (max-width: 996px) {
  .coin {
    grid-template-columns: 40px 120px 60px 80px 60px 120px 80px;
    font-size: 0.75rem;
  }
  .coin-name {
    font-size: 0.875rem;
  }

  .coin-info-btn {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .coin {
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1.95fr 1fr;
    font-size: 0.75rem;
    padding: 20px 10px;
  }

  .coin-image {
    width: 40px;
  }
  .coin-name {
    font-size: 0.875rem;
  }

}

@media (max-width: 600px) {
  .coin {
    grid-template-columns: repeat(3,1fr);
  }

  .coin-name {
    font-size: .75rem;
  }

  .coin-info-btn {
    padding: 7px;
    font-size: .675rem;
    grid-column: 1 / -1;
  }
}
