* {
  box-sizing: border-box;
}

.coin {
  display: grid;
  grid-template-columns: 50px 100px 60px 80px 60px 140px 100px;
  align-items: center;
  gap: 20px;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: transparent;
}

.coin-image {
  padding: 5px;
  width: 100%;
  margin-right: 10px;
}

.coin-name {
  font-size: 1rem;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-info-btn {
  width: 100px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #00bbff;
  cursor: pointer;
}

.coin-info-btn:hover {
  background-color: #09d;
}